@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
.body {
  max-width: 1600px;
  max-height: 5300px;
  background-color: rgba(245, 245, 245, 1);
}
/* shared styles */
.primary-btn {
  padding: 17px 34px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.primary-btn:hover {
  background-color: lightskyblue;
}
/* navbar styles */
.navbar-container {
  display: flex;
  align-items: center;
  padding: 31px 160px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navbar-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(14, 14, 14, 1);
}
.navbar-btn {
  padding: 15px 30px;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(0, 106, 80, 1);
  cursor: pointer;
}
.navbar-btn:hover {
  background-color: lightskyblue;
}
/* banner section styles */
.banner {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.banner-container {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 100px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.banner-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.banner-description {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
/* pillar section styles */
.pillars {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.pillar-container-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 32px;
}
.pillar-boxes {
  display: flex;
  gap: 24px;
}
.pillar-box {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
}
.pillar-image {
  margin-bottom: 25px;
}
.pillar-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.pillar-description {
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 48px;
}
/* vision of future section styles */
.vision {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 32px;
}
.vision-container-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 32px;
}
.vision-container-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.vision-boxes {
  display: flex;
  gap: 24px;
}
.vision-box1 {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  padding: 24px;
}
.vision-box2 {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 16px;
  padding: 24px;
}
.vision-box3 {
  background-color: rgba(247, 235, 207, 1);
  border-radius: 16px;
  padding: 24px;
}
.vision-image {
  margin-bottom: 24px;
}
.vision-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.vision-description {
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 64px;
}
.vision-btn1 {
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgba(84, 144, 245, 1);
  line-height: 19.2px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.vision-btn1:hover {
  background-color: white;
}
.vision-btn2 {
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgba(9, 161, 92, 1);
  line-height: 19.2px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.vision-btn2:hover {
  background-color: white;
}
.vision-btn3 {
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgba(255, 194, 57, 1);
  line-height: 19.2px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.vision-btn3:hover {
  background-color: white;
}
/* quote section styles */
.quote {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.quote-container {
  background-color: white;
  padding: 48px 24px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 2% 12.5%;
  background-size: 64px 64px;
  border-radius: 16px;
}
.quote-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}
.quoter {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}
.quoter-designation {
  color: rgba(14, 14, 14, 0.6);
}
/* opinion section design */
.opinion {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.opinion-container {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
}
.question {
  background-color: rgba(198, 228, 214, 1);
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question-title,
.select {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 1);
}
.question-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question-desclaimer-container {
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 951px;
}
.question-desclaimer {
  padding: 35px 24px;
  line-height: 19.2px;
  font-weight: 600;
}
.agree {
  padding: 24.1px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.agree-option {
  padding: 10px 14px;
  background-color: rgba(198, 228, 214, 1);
  font-weight: 500;
  line-height: 19.2px;
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 4px;
}
/* recent news section styles */
.recent-news {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.recent-news-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
.recent-news-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.recen-news-card {
  display: flex;
  padding: 48px;
  gap: 32px;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 24px;
}
.container-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.satelite-img {
  border-radius: 24px;
  margin-bottom: 12px;
}
.container-details {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 12px;
}
.container-details2 {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.recent-news-btn {
  padding: 13px 26px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.recent-news-btn:hover {
  background-color: lightskyblue;
}
/* donation section styles */
.donate {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.donations-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 32px;
}
.donate-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
.donate-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.donation1,
.donation3,
.donation4 {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  cursor: pointer;
}
.donation1:hover {
  background-color: rgba(198, 228, 214, 1);
}
.donation3:hover {
  background-color: rgba(198, 228, 214, 1);
}
.donation4:hover {
  background-color: rgba(198, 228, 214, 1);
}
.donation2 {
  background-color: rgba(198, 228, 214, 1);
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  cursor: pointer;
}
.donation-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
input[type="text"] {
  width: 1032px;
  height: 64px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.3);
  text-align: center;
}
/* subscribe section styles */
.subscribe {
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 80px;
}
.subscribe-container {
  background-color: rgba(198, 228, 214, 1);
  padding: 80px 265px;
  border-radius: 24px;
}
.subscribe-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 16px;
}
.subscribe-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.subscription {
  display: flex;
  align-items: center;
}
.email {
  width: 600px;
  padding: 18px 40px;
  line-height: 19.2px;
  color: rgba(14, 14, 14, 0.3);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
}
.subscribe-btn {
  padding: 17px 34px;
  background-color: rgba(0, 106, 80, 1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.subscribe-btn:hover {
  background-color: lightskyblue;
}
.footer {
  background-color: white;
  padding: 50px 160px;
}
.footer-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 64px;
}
.footer-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
